
<html>
<head>
	


	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
 	<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
  	<script src="lib/jquery/dist/jquery.min.js"></script>
  	<script src="lib/jquery/dist/jquery.min.js"></script>
  	<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
  	<link rel="stylesheet" href="lib/bootstrap-social/bootstrap-social.css">

</head>
  	<body>
	<div class="container">
		<div class="row">  
	     	<div class="col-sm-10">
	        	<img href="" height="30%" width= "30%" class="img-responsive" src="/lib/images/glupaste.jpg">
	        	</img>
	      	</div>
	    	

	    	<div class="col-sm-2">
	    		<br/>
		    	<a class="btn btn-social-icon btn-twitter">
   				 	<span class="fa fa-twitter"></span>
 				</a>

 				<a class="btn btn-social-icon btn-twitter">
   				 	<span class="fa fa-facebook"></span>
 				</a>

 				<a class="btn btn-social-icon btn-twitter">
   				 	<span class="fa fa-github"></span>
 				</a>

 				<h4> id: Invalid </h4>	
 			</div>

 			<legend></legend>
 		</div>
 		<br/><br/><br/><br/><br/><br/><br/><br/><br/>
 		<h1 align="center">No such Paste exist.</h1>

 	</div>
 	</body>
 </html>		